services:
  - type: web
    name: chromadb-escola
    env: docker
    plan: free
    dockerfilePath: ./Dockerfile
    envVars:
      - key: PORT
        value: 8000
      - key: ALLOW_RESET
        value: true

