services:
  - type: web
    name: chromadb-escola
    env: docker
    plan: free
    dockerfilePath: ./Dockerfile
    envVars:
      - key: ALLOW_RESET
        value: true
      - key: CHROMA_SERVER_AUTH_CREDENTIALS
        value: escola123_segura
