services:
  - type: web
    name: chromadb-escola
    env: docker
    plan: free
    dockerfilePath: ./Dockerfile
    envVars:
      - key: ALLOW_RESET
        value: "true"

      - key: CHROMA_SERVER_HTTP_PORT
        value: "8000"

      - key: CHROMA_SERVER_CORS_ALLOW_ORIGINS
        value: "*"

      - key: CHROMA_API_IMPL
        value: "chromadb.api.fastapi.FastAPI"

